<a href="https://colab.research.google.com/github/tikhongc/fyp/blob/main/Musicmood_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Install library

In [ ]:
!pip install spotipy

Requirement already satisfied: spotipy in /usr/local/lib/python3.7/dist-packages (2.19.0)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (1.26.7)
Requirement already satisfied: six>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (1.15.0)
Requirement already satisfied: requests>=2.25.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2.0.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2021.10.8)

In [ ]:
import spotipy
import csv
import glob
from spotipy.oauth2 import SpotifyClientCredentials
import os
import pandas as pd

# Create dataset

In [ ]:
#spotify authorization
cid = '11a595ac08b84deba845647de64addad'
secret = '1fcdf925efc84aa4add8c3a3e7bfe44a'
client_credentials_manager = SpotifyClientCredentials(client_id=cid, client_secret=secret)
sp = spotipy.Spotify(client_credentials_manager = client_credentials_manager)

#require feature from a spotify playlist
def call_playlist(creator, playlist_id):
    # step1

    playlist_features_list = ["artist", "album", "track_name", "track_id", "duration_ms","danceability", "energy", "loudness", "acousticness"
                              , "speechiness", "instrumentalness", "liveness", "valence", "tempo", "key",
                              "time_signature"]

    playlist_df = pd.DataFrame(columns=playlist_features_list)

    # step2

    playlist = sp.user_playlist_tracks(creator, playlist_id)["items"]
    for track in playlist:
        # Create empty dict
        playlist_features = {}
        # Get metadata
        playlist_features["artist"] = track["track"]["album"]["artists"][0]["name"]
        playlist_features["album"] = track["track"]["album"]["name"]
        playlist_features["track_name"] = track["track"]["name"]
        playlist_features["track_id"] = track["track"]["id"]

        # Get audio features
        audio_features = sp.audio_features(playlist_features["track_id"])[0]
        for feature in playlist_features_list[4:]:
            playlist_features[feature] = audio_features[feature]

        # Concat the dfs
        track_df = pd.DataFrame(playlist_features, index=[0])
        playlist_df = pd.concat([playlist_df, track_df], ignore_index=True)

        #change saved path here
        path_saved=r'/content/drive/MyDrive/Dataset/Music-MOOD/energetic'
        target_path = os.path.abspath(path_saved) 
        if not os.path.exists(target_path):
            os.makedirs(target_path)

        #change file name here
        csv_name=path_saved+'/124.csv'

        #change genre and file_name/path  here
        playlist_df['genre'] = 'energetic'
        playlist_df.to_csv(r'/content/drive/MyDrive/Dataset/Music-MOOD/energetic/energetic9.csv', index = None, header=True)


        #playlist_df.to_csv(csv_name, index=False)


if __name__ == '__main__':
    print ('Starting...')
    #change playlist here
    #choose a specificed playlist by its id
    call_playlist("spotify","4QDWboU5rwpDRXwYprwJf5")
    print('Finished...')

Starting...
Finished...

## Combine the csv files

In [ ]:
    path='/content/drive/MyDrive/Dataset/other'
    path_saved=r'/content/drive/MyDrive/Dataset/Music-MOOD/Dataset'
    target_path = os.path.abspath(path_saved) 
    if not os.path.exists(target_path):
      os.makedirs(target_path)

In [ ]:
    os.chdir(path)
    extension = 'csv'
    all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
    #combine all files in the list
    combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
    #export to csv
    name='/dataset_mood.csv'
    combined_csv.to_csv(path_saved+name, index=False, encoding='utf-8-sig')
    B=os.listdir(path_saved)
    for i in B :
       print (i)

dataset_mood.csv

## remove null value and duplicates *row*

In [ ]:
raw_data = pd.read_csv('/content/drive/MyDrive/Dataset/Music-MOOD/energetic/Full/energetic_full.csv')
#Examine the shape of the data
raw_data.shape

(850, 17)

In [ ]:
raw_data.isnull()

     artist  album  track_name  track_id  ...  tempo    key  time_signature  genre
0     False  False       False     False  ...  False  False           False  False
1     False  False       False     False  ...  False  False           False  False
2     False  False       False     False  ...  False  False           False  False
3     False  False       False     False  ...  False  False           False  False
4     False  False       False     False  ...  False  False           False  False
..      ...    ...         ...       ...  ...    ...    ...             ...    ...
845   False  False       False     False  ...  False  False           False  False
846   False  False       False     False  ...  False  False           False  False
847   False  False       False     False  ...  False  False           False  False
848   False  False       False     False  ...  False  False           False  False
849   False  False       False     False  ...  False  False           False  False

[850 rows x 17 columns]

In [ ]:
raw_data.isnull().sum()

artist              0
album               0
track_name          0
track_id            0
duration_ms         0
danceability        0
energy              0
loudness            0
acousticness        0
speechiness         0
instrumentalness    0
liveness            0
valence             0
tempo               0
key                 0
time_signature      0
genre               0
dtype: int64

In [ ]:
clean_data = raw_data.drop_duplicates()
clean_data.shape

(839, 17)

In [ ]:
clean_data.to_csv('/content/drive/MyDrive/Dataset/Music-MOOD/energetic/Full/energetic_full.csv')

## USE TO CHANGE COL VALUE AFTER MAKING CSV FILE

In [ ]:

# read_csv function which is used to read the required CSV file
data = pd.read_csv('/content/drive/MyDrive/Dataset/Music-MOOD/Sad/sad10.csv')
  
# display 
print("Original 'sad.csv' CSV Data: \n")
print(data)
  
# drop function which is used in removing or deleting rows or columns from the CSV files
data.drop('genre', inplace=True, axis=1)
  
# display 
print("\nCSV Data after deleting the column 'year':\n")
data['genre'] = 'sad'
print(data)

data.to_csv('/content/drive/MyDrive/Dataset/Music-MOOD/Sad/sad10.csv', index = None, header=True)

Original 'sad.csv' CSV Data:

                            artist  ...  genre
0                    Sarah Vaughan  ...  happy
1                      Buddy Holly  ...  happy
2                     Ricky Nelson  ...  happy
3                    Frank Sinatra  ...  happy
4                      Johnnie Ray  ...  happy
5                    Marty Robbins  ...  happy
6                   The Fleetwoods  ...  happy
7                    Hank Williams  ...  happy
8                     The Platters  ...  happy
9                      Johnnie Ray  ...  happy
10                 Various Artists  ...  happy
11                 Various Artists  ...  happy
12                  Connie Francis  ...  happy
13                    Ricky Nelson  ...  happy
14             The Everly Brothers  ...  happy
15                     Ray Charles  ...  happy
16                  The Poni-Tails  ...  happy
17                    The Platters  ...  happy
18                  Connie Francis  ...  happy
19                    Tony Bennett  ...  happy
20                   Elvis Presley  ...  happy
21                  Wilson Pickett  ...  happy
22                       Paul Anka  ...  happy
23                 Various Artists  ...  happy
24                     Neil Sedaka  ...  happy
25                     Ray Charles  ...  happy
26                    The Platters  ...  happy
27                Dinah Washington  ...  happy
28                       Pat Boone  ...  happy
29                   Jackie Wilson  ...  happy
30                    Bobby Vinton  ...  happy
31                 Various Artists  ...  happy
32                   Elvis Presley  ...  happy
33                  Connie Francis  ...  happy
34                   The Skyliners  ...  happy
35                   Frank Sinatra  ...  happy
36                Dinah Washington  ...  happy
37  Little Anthony & The Imperials  ...  happy
38                   Hank Williams  ...  happy
39                 Various Artists  ...  happy
40                      Joan Regan  ...  happy
41                      Don Gibson  ...  happy
42                 Various Artists  ...  happy
43                Dinah Washington  ...  happy
44                       Sam Cooke  ...  happy
45                   Elvis Presley  ...  happy
46                   Frank Sinatra  ...  happy
47                       Sam Cooke  ...  happy

[48 rows x 17 columns]

CSV Data after deleting the column 'year':

                            artist  ... genre
0                    Sarah Vaughan  ...   sad
1                      Buddy Holly  ...   sad
2                     Ricky Nelson  ...   sad
3                    Frank Sinatra  ...   sad
4                      Johnnie Ray  ...   sad
5                    Marty Robbins  ...   sad
6                   The Fleetwoods  ...   sad
7                    Hank Williams  ...   sad
8                     The Platters  ...   sad
9                      Johnnie Ray  ...   sad
10                 Various Artists  ...   sad
11                 Various Artists  ...   sad
12                  Connie Francis  ...   sad
13                    Ricky Nelson  ...   sad
14             The Everly Brothers  ...   sad
15                     Ray Charles  ...   sad
16                  The Poni-Tails  ...   sad
17                    The Platters  ...   sad
18                  Connie Francis  ...   sad
19                    Tony Bennett  ...   sad
20                   Elvis Presley  ...   sad
21                  Wilson Pickett  ...   sad
22                       Paul Anka  ...   sad
23                 Various Artists  ...   sad
24                     Neil Sedaka  ...   sad
25                     Ray Charles  ...   sad
26                    The Platters  ...   sad
27                Dinah Washington  ...   sad
28                       Pat Boone  ...   sad
29                   Jackie Wilson  ...   sad
30                    Bobby Vinton  ...   sad
31                 Various Artists  ...   sad
32                   Elvis Presley  ...   sad
33                  Connie Francis  ...   sad
34                   The Skyliners  ...   sad
35                   Frank Sinatra  ...   sad
36                Dinah Washington  ...   sad
37  Little Anthony & The Imperials  ...   sad
38                   Hank Williams  ...   sad
39                 Various Artists  ...   sad
40                      Joan Regan  ...   sad
41                      Don Gibson  ...   sad
42                 Various Artists  ...   sad
43                Dinah Washington  ...   sad
44                       Sam Cooke  ...   sad
45                   Elvis Presley  ...   sad
46                   Frank Sinatra  ...   sad
47                       Sam Cooke  ...   sad

[48 rows x 17 columns]