<a href="https://colab.research.google.com/github/tikhongc/fyp/blob/main/Music_emotion_CreateDataset(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Install library

In [ ]:
!pip install spotipy

Collecting spotipy
  Downloading spotipy-2.19.0-py3-none-any.whl (27 kB)
Collecting requests>=2.25.0
  Downloading requests-2.26.0-py2.py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 644 kB/s
Requirement already satisfied: six>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (1.15.0)
Collecting urllib3>=1.26.0
  Downloading urllib3-1.26.7-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 19.1 MB/s
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2.0.8)
Installing collected packages: urllib3, requests, spotipy
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.26.0 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed requests-2.26.0 spotipy-2.19.0 urllib3-1.26.7

In [ ]:
import spotipy
import csv
import glob
from spotipy.oauth2 import SpotifyClientCredentials
import os
import pandas as pd

# Create dataset

In [ ]:
#spotify authorization
cid = '11a595ac08b84deba845647de64addad' 
secret = '1fcdf925efc84aa4add8c3a3e7bfe44a'
client_credentials_manager = SpotifyClientCredentials(client_id=cid, client_secret=secret)
sp = spotipy.Spotify(client_credentials_manager = client_credentials_manager)

#require feature from a spotify playlist
def call_playlist(creator, playlist_id):
    # step1

    playlist_features_list = ["artist", "album", "track_name", "track_id", "duration_ms","danceability", "energy", "loudness", "acousticness"
                              , "speechiness", "instrumentalness", "liveness", "valence", "tempo", "key",
                              "time_signature"]

    playlist_df = pd.DataFrame(columns=playlist_features_list)

    # step2

    playlist = sp.user_playlist_tracks(creator, playlist_id)["items"]
    for track in playlist:
        playlist_features = {}
        #Get metadata
        playlist_features["artist"] = track["track"]["album"]["artists"][0]["name"]
        playlist_features["album"] = track["track"]["album"]["name"]
        playlist_features["track_name"] = track["track"]["name"]
        playlist_features["track_id"] = track["track"]["id"]

        #Get audio features
        audio_features = sp.audio_features(playlist_features["track_id"])[0]
        for feature in playlist_features_list[4:]:
            playlist_features[feature] = audio_features[feature]

        #Concat the dfs
        track_df = pd.DataFrame(playlist_features, index=[0])
        playlist_df = pd.concat([playlist_df, track_df], ignore_index=True)

        #change saved path here
        path_saved=r'/content/drive/MyDrive/Dataset/Music-MOOD/energetic'
        target_path = os.path.abspath(path_saved) 
        if not os.path.exists(target_path):
            os.makedirs(target_path)

        #change file name here
        csv_name=path_saved+'/124.csv'

        #change genre and file_name/path  here
        playlist_df['genre'] = 'energetic'
        playlist_df.to_csv(r'/content/drive/MyDrive/Dataset/Music-MOOD/energetic/energetic9.csv', index = None)


        #playlist_df.to_csv(csv_name, index=False)


if __name__ == '__main__':
    print ('Starting...')
    #change playlist here
    #choose a specificed playlist by its id
    call_playlist("spotify","4QDWboU5rwpDRXwYprwJf5")
    print('Finished...')

Starting...
Finished...

## Combine the csv files

In [ ]:
    path='/content/drive/MyDrive/Dataset/other'
    path_saved=r'/content/drive/MyDrive/Dataset/Music-MOOD/Dataset'
    target_path = os.path.abspath(path_saved) 
    if not os.path.exists(target_path):
      os.makedirs(target_path)

In [ ]:
    os.chdir(path)
    extension = 'csv'
    all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
    #combine all files in the list
    combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
    #export to csv
    name='/dataset_mood.csv'
    combined_csv.to_csv(path_saved+name, index=False, encoding='utf-8-sig')
    B=os.listdir(path_saved)
    for i in B :
       print (i)

dataset_mood.csv

## remove null value and duplicates *row*

In [ ]:
raw_data = pd.read_csv('/content/drive/MyDrive/Dataset/Music-MOOD/energetic/Full/energetic_full.csv')
#Examine the shape of the data
raw_data.shape

(850, 17)

In [ ]:
raw_data.isnull()

     artist  album  track_name  track_id  ...  tempo    key  time_signature  genre
0     False  False       False     False  ...  False  False           False  False
1     False  False       False     False  ...  False  False           False  False
2     False  False       False     False  ...  False  False           False  False
3     False  False       False     False  ...  False  False           False  False
4     False  False       False     False  ...  False  False           False  False
..      ...    ...         ...       ...  ...    ...    ...             ...    ...
845   False  False       False     False  ...  False  False           False  False
846   False  False       False     False  ...  False  False           False  False
847   False  False       False     False  ...  False  False           False  False
848   False  False       False     False  ...  False  False           False  False
849   False  False       False     False  ...  False  False           False  False

[850 rows x 17 columns]

In [ ]:
raw_data.isnull().sum()

artist              0
album               0
track_name          0
track_id            0
duration_ms         0
danceability        0
energy              0
loudness            0
acousticness        0
speechiness         0
instrumentalness    0
liveness            0
valence             0
tempo               0
key                 0
time_signature      0
genre               0
dtype: int64

In [ ]:
clean_data = raw_data.drop_duplicates()
clean_data.shape

(839, 17)

In [ ]:
clean_data.to_csv('/content/drive/MyDrive/Dataset/Music-MOOD/energetic/Full/energetic_full.csv')

## USE TO CHANGE COL VALUE AFTER MAKING CSV FILE

In [ ]:

# read_csv function which is used to read the required CSV file
data = pd.read_csv('/content/drive/MyDrive/Dataset/Music-MOOD/Sad/sad10.csv')
  
# display 
print("Original 'sad.csv' CSV Data: \n")
print(data)
  
# drop function which is used in removing or deleting rows or columns from the CSV files
data.drop('genre', inplace=True, axis=1)
  
# display 
print("\nCSV Data after deleting the column 'year':\n")
data['genre'] = 'sad'
print(data)

data.to_csv('/content/drive/MyDrive/Dataset/Music-MOOD/Sad/sad10.csv', index = None, header=True)

Original 'sad.csv' CSV Data:

                            artist  ...  genre
0                    Sarah Vaughan  ...  happy
1                      Buddy Holly  ...  happy
2                     Ricky Nelson  ...  happy
3                    Frank Sinatra  ...  happy
4                      Johnnie Ray  ...  happy
5                    Marty Robbins  ...  happy
6                   The Fleetwoods  ...  happy
7                    Hank Williams  ...  happy
8                     The Platters  ...  happy
9                      Johnnie Ray  ...  happy
10                 Various Artists  ...  happy
11                 Various Artists  ...  happy
12                  Connie Francis  ...  happy
13                    Ricky Nelson  ...  happy
14             The Everly Brothers  ...  happy
15                     Ray Charles  ...  happy
16                  The Poni-Tails  ...  happy
17                    The Platters  ...  happy
18                  Connie Francis  ...  happy
19                    Tony Bennett  ...  happy
20                   Elvis Presley  ...  happy
21                  Wilson Pickett  ...  happy
22                       Paul Anka  ...  happy
23                 Various Artists  ...  happy
24                     Neil Sedaka  ...  happy
25                     Ray Charles  ...  happy
26                    The Platters  ...  happy
27                Dinah Washington  ...  happy
28                       Pat Boone  ...  happy
29                   Jackie Wilson  ...  happy
30                    Bobby Vinton  ...  happy
31                 Various Artists  ...  happy
32                   Elvis Presley  ...  happy
33                  Connie Francis  ...  happy
34                   The Skyliners  ...  happy
35                   Frank Sinatra  ...  happy
36                Dinah Washington  ...  happy
37  Little Anthony & The Imperials  ...  happy
38                   Hank Williams  ...  happy
39                 Various Artists  ...  happy
40                      Joan Regan  ...  happy
41                      Don Gibson  ...  happy
42                 Various Artists  ...  happy
43                Dinah Washington  ...  happy
44                       Sam Cooke  ...  happy
45                   Elvis Presley  ...  happy
46                   Frank Sinatra  ...  happy
47                       Sam Cooke  ...  happy

[48 rows x 17 columns]

CSV Data after deleting the column 'year':

                            artist  ... genre
0                    Sarah Vaughan  ...   sad
1                      Buddy Holly  ...   sad
2                     Ricky Nelson  ...   sad
3                    Frank Sinatra  ...   sad
4                      Johnnie Ray  ...   sad
5                    Marty Robbins  ...   sad
6                   The Fleetwoods  ...   sad
7                    Hank Williams  ...   sad
8                     The Platters  ...   sad
9                      Johnnie Ray  ...   sad
10                 Various Artists  ...   sad
11                 Various Artists  ...   sad
12                  Connie Francis  ...   sad
13                    Ricky Nelson  ...   sad
14             The Everly Brothers  ...   sad
15                     Ray Charles  ...   sad
16                  The Poni-Tails  ...   sad
17                    The Platters  ...   sad
18                  Connie Francis  ...   sad
19                    Tony Bennett  ...   sad
20                   Elvis Presley  ...   sad
21                  Wilson Pickett  ...   sad
22                       Paul Anka  ...   sad
23                 Various Artists  ...   sad
24                     Neil Sedaka  ...   sad
25                     Ray Charles  ...   sad
26                    The Platters  ...   sad
27                Dinah Washington  ...   sad
28                       Pat Boone  ...   sad
29                   Jackie Wilson  ...   sad
30                    Bobby Vinton  ...   sad
31                 Various Artists  ...   sad
32                   Elvis Presley  ...   sad
33                  Connie Francis  ...   sad
34                   The Skyliners  ...   sad
35                   Frank Sinatra  ...   sad
36                Dinah Washington  ...   sad
37  Little Anthony & The Imperials  ...   sad
38                   Hank Williams  ...   sad
39                 Various Artists  ...   sad
40                      Joan Regan  ...   sad
41                      Don Gibson  ...   sad
42                 Various Artists  ...   sad
43                Dinah Washington  ...   sad
44                       Sam Cooke  ...   sad
45                   Elvis Presley  ...   sad
46                   Frank Sinatra  ...   sad
47                       Sam Cooke  ...   sad

[48 rows x 17 columns]

In [ ]:

# read_csv function which is used to read the required CSV file
data = pd.read_csv('/content/drive/MyDrive/Dataset/Music-MOOD/Dataset/dataset_mood.csv')
data

      Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  ... key time_signature      genre
0              0           0.0             0.0  ...   4              4        sad
1              1           1.0             1.0  ...   5              4        sad
2              2           2.0             2.0  ...   1              4        sad
3              3           3.0             3.0  ...   0              3        sad
4              4           4.0             4.0  ...   0              4        sad
...          ...           ...             ...  ...  ..            ...        ...
3058         844           NaN             NaN  ...   9              4  energetic
3059         845           NaN             NaN  ...   2              4  energetic
3060         846           NaN             NaN  ...   2              4  energetic
3061         847           NaN             NaN  ...   5              4  energetic
3062         848           NaN             NaN  ...   1              4  energetic

[3063 rows x 20 columns]

In [ ]:
# display 
print("Original CSV Data: \n")
  
# drop function which is used in removing or deleting rows or columns from the CSV files
data.drop('Unnamed: 0', inplace=True, axis=1)
data.drop('Unnamed: 0.1', inplace=True, axis=1)
data.drop('Unnamed: 0.1.1', inplace=True, axis=1)

data

Original CSV Data:

                       artist  ...      genre
0                   Tom Odell  ...        sad
1                       Adele  ...        sad
2                       Griff  ...        sad
3                Benson Boone  ...        sad
4                   Mimi Webb  ...        sad
...                       ...  ...        ...
3058           Highly Suspect  ...  energetic
3059                     Muse  ...  energetic
3060                     Muse  ...  energetic
3061                 Pop Evil  ...  energetic
3062  Queens of the Stone Age  ...  energetic

[3063 rows x 17 columns]

In [ ]:
data.to_csv('/content/drive/MyDrive/Dataset/Music-MOOD/Dataset/dataset_mood.csv', index = None, header=True)

## Calculate the average value of each genre

happy

In [ ]:
# read_csv function which is used to read the required CSV file
data = pd.read_csv('/content/drive/MyDrive/Dataset/Music-MOOD/happy/Full/happy_full.csv')
data.drop('artist', inplace=True, axis=1)
data.drop('album', inplace=True, axis=1)
data.drop('track_name', inplace=True, axis=1)
data.drop('track_id', inplace=True, axis=1)
data.drop('duration_ms', inplace=True, axis=1)
data.drop('key', inplace=True, axis=1)
data.drop('time_signature', inplace=True, axis=1)
data.drop('genre', inplace=True, axis=1)

data

     danceability  energy  loudness  ...  liveness  valence    tempo
0           0.788   0.859    -2.724  ...    0.0424    0.822  141.020
1           0.776   0.808    -4.501  ...    0.1030    0.494  123.988
2           0.595   0.784    -4.878  ...    0.0608    0.479  124.111
3           0.682   0.720    -8.173  ...    0.1480    0.673  117.003
4           0.806   0.513    -6.208  ...    0.2170    0.503  124.988
..            ...     ...       ...  ...       ...      ...      ...
776         0.753   0.735    -7.374  ...    0.0632    0.601  111.976
777         0.628   0.917    -4.247  ...    0.0732    0.467  103.991
778         0.662   0.772    -5.131  ...    0.3350    0.414  103.268
779         0.801   0.795    -5.115  ...    0.0717    0.754   79.028
780         0.609   0.763    -5.549  ...    0.1060    0.430  116.002

[781 rows x 9 columns]

In [ ]:
data.describe()

       danceability      energy    loudness  ...    liveness     valence       tempo
count    781.000000  781.000000  781.000000  ...  781.000000  781.000000  781.000000
mean       0.661239    0.719133   -6.228142  ...    0.183546    0.592656  120.336481
std        0.119018    0.160681    2.689769  ...    0.142427    0.217273   22.318165
min        0.138000    0.100000  -22.597000  ...    0.016500    0.034800   46.718000
25%        0.594000    0.641000   -7.162000  ...    0.090400    0.430000  105.043000
50%        0.675000    0.753000   -5.646000  ...    0.132000    0.598000  120.944000
75%        0.745000    0.837000   -4.456000  ...    0.238000    0.763000  126.017000
max        0.965000    0.989000   -1.856000  ...    0.985000    0.980000  202.481000

[8 rows x 9 columns]

sad

In [ ]:
data1 = pd.read_csv('/content/drive/MyDrive/Dataset/Music-MOOD/Sad/Full/sad_full.csv')
data1.drop('artist', inplace=True, axis=1)
data1.drop('album', inplace=True, axis=1)
data1.drop('track_name', inplace=True, axis=1)
data1.drop('track_id', inplace=True, axis=1)
data1.drop('duration_ms', inplace=True, axis=1)
data1.drop('key', inplace=True, axis=1)
data1.drop('time_signature', inplace=True, axis=1)
data1.drop('genre', inplace=True, axis=1)
data1

     danceability  energy  loudness  ...  liveness  valence    tempo
0           0.445   0.537    -8.532  ...    0.0944    0.131  122.769
1           0.604   0.366    -7.519  ...    0.1330    0.130  141.981
2           0.824   0.300    -6.678  ...    0.1740    0.227  112.867
3           0.391   0.335   -10.064  ...    0.1020    0.116  174.185
4           0.559   0.763    -4.160  ...    0.1270    0.349   91.069
..            ...     ...       ...  ...       ...      ...      ...
606         0.260   0.205   -16.618  ...    0.0740    0.313   99.912
607         0.436   0.223   -11.552  ...    0.1050    0.209  140.178
608         0.677   0.618    -8.826  ...    0.0765    0.843  117.665
609         0.228   0.125   -17.576  ...    0.1710    0.216   85.091
610         0.660   0.310   -13.906  ...    0.1160    0.666   81.998

[611 rows x 9 columns]

In [ ]:
data1.describe()

       danceability      energy    loudness  ...    liveness     valence       tempo
count    611.000000  611.000000  611.000000  ...  611.000000  611.000000  611.000000
mean       0.539733    0.410115   -9.573859  ...    0.151218    0.347654  118.159905
std        0.145738    0.178273    3.565517  ...    0.102534    0.199892   31.235749
min        0.129000    0.056100  -23.023000  ...    0.037600    0.038800   51.414000
25%        0.445000    0.282500  -11.563500  ...    0.095700    0.191500   91.068500
50%        0.542000    0.392000   -8.859000  ...    0.114000    0.308000  117.640000
75%        0.643500    0.547000   -6.980000  ...    0.159000    0.483000  139.541500
max        0.913000    0.887000   -2.046000  ...    0.763000    0.974000  210.210000

[8 rows x 9 columns]

calm

In [ ]:
data2 = pd.read_csv('/content/drive/MyDrive/Dataset/Music-MOOD/calm/Full/calm_full.csv')
data2.drop('artist', inplace=True, axis=1)
data2.drop('album', inplace=True, axis=1)
data2.drop('track_name', inplace=True, axis=1)
data2.drop('track_id', inplace=True, axis=1)
data2.drop('duration_ms', inplace=True, axis=1)
data2.drop('key', inplace=True, axis=1)
data2.drop('time_signature', inplace=True, axis=1)
data2.drop('genre', inplace=True, axis=1)
data2

     danceability  energy  loudness  ...  liveness  valence    tempo
0           0.608  0.0691   -13.308  ...    0.0919   0.2030   81.014
1           0.816  0.1810   -16.983  ...    0.0928   0.1890  112.498
2           0.480  0.0422   -29.081  ...    0.3650   0.0871   85.012
3           0.411  0.1290   -15.437  ...    0.0921   0.0784  209.752
4           0.722  0.2400   -16.459  ...    0.0758   0.4910  144.078
..            ...     ...       ...  ...       ...      ...      ...
827         0.500  0.4330   -10.184  ...    0.1120   0.4120  171.764
828         0.449  0.4650    -8.964  ...    0.3030   0.5430   89.087
829         0.813  0.4150    -5.926  ...    0.1310   0.6670   91.921
830         0.707  0.5030   -11.281  ...    0.1600   0.5560  148.021
831         0.474  0.2290    -9.470  ...    0.1100   0.2890  118.827

[832 rows x 9 columns]

In [ ]:
data2.describe()

       danceability      energy    loudness  ...    liveness     valence       tempo
count    832.000000  832.000000  832.000000  ...  832.000000  832.000000  832.000000
mean       0.452959    0.203878  -20.059072  ...    0.125686    0.252620  105.864838
std        0.180454    0.217848    9.282437  ...    0.085539    0.190522   33.776249
min        0.000000    0.001240  -43.303000  ...    0.024800    0.000000    0.000000
25%        0.323000    0.032375  -27.865000  ...    0.095575    0.102000   77.283500
50%        0.447500    0.111000  -21.869500  ...    0.106000    0.200500  101.627500
75%        0.581250    0.322750  -10.404250  ...    0.116000    0.351250  128.803750
max        0.915000    0.922000   -3.849000  ...    0.929000    0.978000  211.698000

[8 rows x 9 columns]

energetic

In [ ]:
data3 = pd.read_csv('/content/drive/MyDrive/Dataset/Music-MOOD/energetic/Full/energetic_full.csv')
data3.drop('artist', inplace=True, axis=1)
data3.drop('album', inplace=True, axis=1)
data3.drop('track_name', inplace=True, axis=1)
data3.drop('track_id', inplace=True, axis=1)
data3.drop('duration_ms', inplace=True, axis=1)
data3.drop('key', inplace=True, axis=1)
data3.drop('time_signature', inplace=True, axis=1)
data3.drop('genre', inplace=True, axis=1)
data3

     danceability  energy  loudness  ...  liveness  valence    tempo
0           0.598   0.687    -9.021  ...    0.1120    0.626   75.169
1           0.720   0.791    -4.689  ...    0.1570    0.756  102.071
2           0.897   0.634    -6.264  ...    0.0686    0.506  112.048
3           0.756   0.789    -7.002  ...    0.1570    0.873  127.987
4           0.642   0.834    -3.258  ...    0.3780    0.678   98.063
..            ...     ...       ...  ...       ...      ...      ...
834         0.547   0.792    -5.645  ...    0.1060    0.395   97.998
835         0.555   0.883    -3.426  ...    0.8680    0.507  125.020
836         0.408   0.965    -4.232  ...    0.1100    0.349  136.018
837         0.641   0.732    -7.570  ...    0.0620    0.763   92.057
838         0.361   0.962    -2.928  ...    0.2940    0.927  161.292

[839 rows x 9 columns]

In [ ]:
data3.describe()

       danceability      energy    loudness  ...    liveness     valence       tempo
count    839.000000  839.000000  839.000000  ...  839.000000  839.000000  839.000000
mean       0.599046    0.818285   -5.081615  ...    0.208352    0.542345  125.577760
std        0.150700    0.129183    1.947590  ...    0.152589    0.220952   26.951034
min        0.111000    0.317000  -16.448000  ...    0.021500    0.039200   62.110000
25%        0.507000    0.740500   -6.073500  ...    0.093250    0.386500  105.080500
50%        0.619000    0.848000   -4.829000  ...    0.153000    0.544000  123.983000
75%        0.714000    0.916500   -3.804000  ...    0.303000    0.717500  140.080000
max        0.968000    0.996000   -0.921000  ...    0.942000    0.975000  205.600000

[8 rows x 9 columns]